.home-container {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    .hero-section {
        height: 550px;
        width: 100%;
        background-color: #eff5fa;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: auto;
        .text-cta {
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 70px;
            font-weight: 500px;
            div {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                .logo {
                    height: 75px;
                }
            }
            .login-cta {
                width: 120px;
                border-radius: 10px;
                background-color: #4caf4f;
                height: 50px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #4caf4f;
                font-size: 20px;
                text-decoration: none;
                margin-top: 15px;
                &:hover {
                    color: #4caf4f;
                    background-color: white;
                    transition: 0.1s ease-in-out;
                }
            }
        }
    }
    #libraries-section {
        padding: 0px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .library-cards {
            display: flex;
            flex-direction: row;
            gap: 30px;
            justify-content: center;
        }
    }
    h1 {
        color: #4caf4f;
        font-size: 50px;
        margin: 100px;
    }
    #whyus-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        .cards {
            display: flex;
            flex-direction: row;
            gap: 200px;
            justify-content: center;
            align-items: center;
            section {
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                align-items: center;
                .title {
                    color: #4caf4f;
                    font-weight: 600;
                    font-size: 36px;
                    text-align: center;
                }
                img {
                    height: 56px;
                    width: 65px;
                }
            }
        }
    }
    .cta {
        background-color: #eff5fa;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px 0px 0px 0px;
        padding: 50px;
        .big-title {
            font-size: 72px;
            margin: 50px;
            text-align: center;
            font-weight: 500;
        }
        .cta-cta {
            background-color: #2194f3;
            text-decoration: none;
            color: white;
            padding: 15px 25px;
            border-radius: 10px;
        }
    }
}
